<!DOCTYPE HTML>
<html>
	<head>
    	<title>Todolist-web application</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		
    	<!-- bootstrap, datatabels css -->
    	<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    	<link rel="stylesheet" href="/css/lib/datatables.min.css">
    	
	</head>
	<body>
    	<h1>Todolist-web application</h1>

        <table id="todoTable" class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>ID</th>
                    <th>할일</th>
                    <th>작성일시</th>
                    <th>최종수정일시</th>
                    <th>완료처리</th>
                </tr>
            </thead>
        </table>
        
        <div class="col-md-12">
        	<button type="button" id="btnSaveModal" class="btn btn-primary" data-toggle="modal" data-target="#savaTodoModal">일정 등록</button>
    	</div>
    	
    	<div class="modal fade" id="savaTodoModal" tabindex="-1" role="dialog" aria-labelledby="saveTodoLabel" aria-hidden="true">
        	<div class="modal-dialog" role="document">
            	<div class="modal-content">
                	<div class="modal-header">
                    	<h5 class="modal-title"">일정 등록</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	        <span aria-hidden="true">&times;</span>
            	        </button>
        	        </div>
    	            <div class="modal-body">
	                    <form>
                        	<div class="form-group">
                    	        <label for="name">제목</label>
                	            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            	            </div>
                        	<div class="form-group">
                            	<label for="content"> 참조 </label>
                            	<select multiple class="form-control" id="todoReferId" placeholder="참조할 일정을 선택하세요"></select>
                        	</div>
                    	</form>
                	</div>
                	<div class="modal-footer">
                	    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            	        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        	        </div>
    	        </div>
	        </div>
    	</div>

    	<!-- jquery, bootstrap, datatables js -->
    	<script src="/js/lib/jquery.min.js"></script>
    	<script src="/js/lib/bootstrap.min.js"></script>
    	<script src="/js/lib/datatables.min.js"></script>
    	
    	<!-- custom js -->
    	<script src="/js/app/main.js"></script>
	<body>
</html>
